<%- include("../partials/header") %>

<body class="auth">
    <%- include("../partials/navflash") %>
    <div class="btnbg mt-5 p-2 pt-5">
        <div class="container pageContent text-center mb-0 mt-5 pb-5 col-md-6 col-xl-4">
            <h1>YelpCamp</h1>
            <div class="row">
                <div class="formArea2 col-12">
                    <form action="/login" method="POST" class="text-white text-left">
                        <div class="form-group">
                            <label for="uname">Username</label>
                            <input id="uname" class="form-control" type="text" name="username" placeholder="Username"
                                autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label for="upword">Password</label>
                            <input id="upword" class="form-control" type="password" name="password"
                                placeholder="Password" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-md btn-success btn-block">Login</button>
                        </div>
                    </form>

                    <hr class="bg-light">
                    <p class="text-white">OR</p>
                    <hr class="bg-light">
                    <a href="/register" class="btn btn-md btn-primary btn-block"><span>Sign Up</span></a>
                </div>
            </div>
        </div>
        <%- include("../partials/trademark2") %>
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <%- include("../partials/footer") %>