.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.card-image {
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card-title {
  padding: 2rem;
  border-radius: 6px;
  font-size: 1.5rem;
  line-height: 2rem;
  background-color: rgba(252, 236, 19, 0.37);
}

.grid-container {
  margin-top: 5rem;
}


